@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff') format('woff');

}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
}

.site-navigation {
  list-style: none;
  background-color: #FFFFFF;
  text-align: left;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #B2B2B2;
}

.site-navigation-current {
  color: #766357;
}

.welcomesedona {
  background-color: #f2f2f2;
  background-image: url("../img/polygon,svg"),
                    url("../img/background-photo.jpg");
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

.paragraphs {
  background-color: #ffffff;
}

.paragraph-1 {
  font-size: 21px;
  line-height: 26px;
}

.paragraph-2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.paragraph-3 {
  font-size: 30px;
  line-height: 36px;
}

.paragraph-4 {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.reasons-list {
  list-style: none;
}

.reasons-list .additions-list {
  list-style: inherit;
}
/* Тут я что-то разогнался и начал делать дополнительное задание. Пока остановился на этом
.reasons-list .reasons-heading {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-list .slogan {
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}
*/

.search-button {
  font-size: 21px;
  text-align: 26px;
  color: #FFFFFF;

  background-color: #766357;
}

.search-form {
  display: none;
}

.main-footer {
  text-align: left;
}

.main-footer .socials-list {
  list-style: none;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
}

.made-by {
  line-height: 26px;
  font-weight: normal;
}

.socials-item .link {
  font-size: 0px;
  color: #ffffff;
  fill: currentcolor;
}

.socials-item .link:hover {
  background-color: #669ec0;
}

.socials-item .link:active {
  color: #5496bd;
  background-color: currentcolor;
  fill: currentcolor;
}

.made-by .logo-htmlacademy {
  vertical-align: middle;
}

.made-by a:hover {
  color: #81b3d2;
  fill: currentcolor;
}

.made-by a:active {
  color: #bdbbbc;
  fill: currentcolor;
}

.buttons-list {
  list-style: none;
  text-align: left;
}

.updown-list {
  list-style: none;
  text-align: left;
}


.hotels-list {
  text-align: left;
  list-style: none;
  background-color: #FEFEFE;
}

.picking {
  text-align: left;
}

.hotels-preview .hotels-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.hotels-preview .hotels-information {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotels-preview .rating {
  color: #666666;

  background-color: #F2F2F2;
}

.hotels-preview .additions-button {
  line-height: 21px;
  color: #FFFFFF;

  background-color: #81B3D2;
}

.hotels-preview .additions-button:hover {
  background-color: #669EC0;
}

.hotels-preview .additions-button:active {
  color: #88B6D1;

  background-color: #5496BD;
}

.hotels-preview .reserve-button {
  line-height: 21px;
  color: #FFFFFF;

  background-color: #766357;
}

.hotels-preview .reserve-button:hover {
  background-color: #604E43;
}

.hotels-preview .reserve-button:active {
  color: #81746D;
  background-color: #503E33;
}
