@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
       local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff') format('woff');

}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'),
       local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff') format('woff');
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  box-shadow: 0 0 20px -10px #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;

  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

a {
  text-decoration: none;
}

.main-header {
  position: relative;
}

.main-header .logo {
  position: absolute;
  left: 530px;
}

.main-header img {
  vertical-align: top;
}

.main-navigation {
  line-height: 26px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  text-align: left;

  list-style: none;
  background-color: #ffffff;
}

.site-navigation .site-link {
  width: 240px;
  padding: 15px 0;

  line-height: 26px;
}

.site-navigation .site-link:nth-child(4n+3) {
  margin-left: 96px;

  text-align: right;
}

.site-navigation .site-link:nth-child(4n+1) {
  margin-left: 72px;
}

.site-navigation .site-link:nth-child(4n+4) {
  margin-right: 72px;

  text-align: right;
}

.site-navigation .site-link:nth-child(4n+3) {
  text-align: right;
}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #B2B2B2;
}

.site-navigation-current {
  color: #766357;
}

.welcome-sedona {
  min-height: 373px;
  padding-top: 76px;
  padding-bottom: 59px;

  background-image: url("../img/polygon.svg"),
                    url("../img/background-photo.jpg");
  background-color: #e1eff8;
  background-repeat: no-repeat;
  background-position: center bottom, 0 -56px;
}

.about-sedona {
  padding-top: 59px;
  padding-bottom: 37px;

  background-color: #ffffff;
}

.reasons .reasons-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.reasons-list .reasons-item:first-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reasons-item .reasons-item-container {
  width: 280px;
  padding: 0 60px;
  padding-top: 30px;
  padding-bottom: 53px;

  background-color: #81b3d2;
}

.reasons-item:nth-child(2) .reasons-item-container {
  width: 304px;
  padding: 0 48px;
  padding-top: 26px;
  padding-bottom: 52px;
}

.reasons-item:nth-child(2) .image-of-city {
  width: 800px;
  margin: 0;
  order: -1;
}

.reasons-item-container .reasons-heading {
  margin: 18px 34px;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reasons-item-container .slogan {
  margin-bottom: 21px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.reasons-item-container .slogan:last-child {
  margin-bottom: 0;
}

.reasons-item .image-of-city {
  margin: 0;
  padding: 0;
}

.image-of-city img {
  vertical-align: middle;
}

.reasons-item .additions-list {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;

  list-style: inherit;
}

.additions-list .additions-item {
  padding-top: 133px;
  padding-bottom: 81px;
  min-height: 330px;
  width: 400px;
  box-sizing: border-box;
}

.additions-list .additions-item:first-child {
  padding-left: 73px;
  padding-right: 72px;

  background-color: #ffffff;
}

.additions-list .additions-item:nth-child(2) {
  padding-left: 58px;
  padding-right: 58px;

  background-color: #ffffff;
}

.additions-list .additions-item:last-child {
  padding-left: 44px;
  padding-right: 43px;

  background-color: #ffffff;
}

.additions-item .additions-heading {
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 21px;
}

.additions-item .slogan {
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.additions-list .icon-1 {
  background-image: url("../img/icon-1.svg");
  background-position: 162px 61px;
  background-repeat: no-repeat;
}

.additions-list .icon-2 {
  background-image: url("../img/icon-2.svg");
  background-position: 163px 61px;
  background-repeat: no-repeat;
}

.additions-list .icon-3 {
  background-image: url("../img/icon-3.svg");
  background-position: 168px 56px;
  background-repeat: no-repeat;
}

.reasons-list .reasons-item:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.reasons-list .small-reasons-item {
  width: 208px;
  padding-top: 46px;
  padding-bottom: 61px;
  padding-left: 95px;
  padding-right: 97px;

  background-color: #eeeeee;
}

.small-reasons-item .reasons-heading {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
}

.small-reasons-item .slogan {
  margin-top: 20px;

  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.reasons-list .small-reasons-item:nth-last-of-type(2) {
  width: 262px;
  padding-left: 69px;
  padding-right: 69px;
}

.small-reasons-item:nth-last-of-type(2) .reasons-heading {
  margin-left: 51px;
  margin-right: 51px;
}

.reasons-list .small-reasons-item:last-child {
  width: 256px;
  padding-left: 73px;
  padding-right: 70px;
}

.small-reasons-item:last-child .reasons-heading {
  margin-left: 51px;
  margin-right: 51px;
}

.small-reasons-item .slogan:last-child {
  margin-bottom: 0;
}

.visit-sedona {
  padding-top: 50px;

  background-color: #ffffff;
}

.about-sedona .sedona-is {
  margin: 0;
  margin-bottom: 28px;
  padding: 0 380px;

  font-size: 21px;
  line-height: 26px;
}

.about-sedona .let-us-see {
  padding: 0 355px;

  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
}

.visit-sedona .interested {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0 451px;

  font-size: 30px;
  line-height: 36px;
}

.visit-sedona .choose-date {
  margin-bottom: 47px;
  padding: 0 350px;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.search-button {
  margin: 0 auto;
  padding: 30px;
  width: 568px;

  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: inherit;

  border: none;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: #857871;

  background-color: #503e33;
}

.search-hotels {
  position: relative;
}

.search-form {
  position: absolute;
  z-index: 2;
  left: 316px;

  width:458px;
  min-height: 285px;
  padding: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 26px;
  text-align: left;

  box-shadow: 0 0 20px -10px #000000;
  background-color: #ffffff;

  transition: transform 0.4s ease-out;
  transform: scaleY(1);
  transform-origin: top;
}

.search-form-collapsed {
  transform: scaleY(0);
  transition: transform;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.search-form-shaked {
  animation: shake 0.6s;
}

.search-form .arrival-date {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-form .leaving-date {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.arrival-date .calendar-button,
.leaving-date .calendar-button {
  position: absolute;
  top: 8px;
  right: 1px;

  color: #cacaca;

  border: none;
  fill: currentcolor;
  background-color: transparent;
}

.arrival-date .calendar-button:hover,
.leaving-date .calendar-button:hover,
.child-amount-container .plus-button:hover,
.adult-amount-container .plus-button:hover,
.child-amount-container .minus-button:hover,
.adult-amount-container .minus-button:hover {
  color: #000000;

  fill: currentcolor;
}

.arrival-date .calendar-button:active,
.leaving-date .calendar-button:active,
.child-amount-container .plus-button:active,
.adult-amount-container .plus-button:active,
.child-amount-container .minus-button:active,
.adult-amount-container .minus-button:active {
  color: #81b3d2;

  fill: currentcolor;
}

.arrival-date input::-ms-clear,
.leaving-date input::-ms-clear {
  display: none;
}

.arrival-date label,
.leaving-date label {
  width: 112px;
}

.arrival-date input,
.leaving-date input {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 13px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;

}

.arrival-date input:hover,
.leaving-date input:hover {
  background-color: #ebebeb;
}

.arrival-date input:focus,
.leaving-date input:focus {
  background-color: #ffffff;
  outline: solid #e5e5e5;
}

.adult-amount-container input,
.child-amount-container input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border: none;
  background-color: #f2f2f2;
}

.adult-amount-container .plus-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.child-amount-container .plus-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.adult-amount-container .minus-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.child-amount-container .minus-button {
  box-sizing: border-box;
  width: 38px;
  height: 38px;

  color: #a9a9a9;

  border: none;
  background-color: #f2f2f2;
}

.search-form .adult-amount {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.adult-amount label {
  width: 112px;
}

.child-amount label {
  width: 88px;
  text-align: right;
}

.adult-amount-container {
  width: 114px;
  display: flex;
  flex-direction: row;
  margin-right: 3px;
}

.search-form .child-amount {
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.child-amount-container {
  width: 114px;
  display: flex;
  flex-direction: row;
}

.search-form button[type="submit"] {
  margin-top: 53px;
  padding: 16px 150px;
  width: 100%;

  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}

.search-form button[type="submit"]:hover {
  background-color: #669ec0;
}

.search-form button[type="submit"]:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.sedona-on-the-map p {
  margin: 0;
  padding: 0;
}

.sedona-on-the-map iframe {
  position: absolute;
  vertical-align: top;

  border: none;
}

.sedona-on-the-map img {
  vertical-align: top;
}

.search-filtr-form {
  display: flex;
  padding: 26px 72px;
  padding-bottom: 31px;

  font-weight: 400;
  color: #ffffff;
  line-height: 21px;
  text-align: left;

  background-color: #5585ad;
  background-image: url("../img/filter-background.jpg");
  background-size: auto;
}

.search-filtr-form .group {
  border: none;
  margin: 0;
  padding: 0;
}

.group .group-name {
  font-size: 16px;
  font-weight: 700;
}

.group-checkbox {
  width: 240px;
}

.group-checkbox:nth-child(2) {
  padding-left: 15px;
}

.search-filtr-form .group:last-child {
  margin-left: auto;
}

.group-checkbox .checkbox-list {
  margin: 0;
  padding: 0;
  margin-top: 26px;

  text-align: left;
  list-style: none;
}

.group-range .minmax-input-list {
  margin: 0;
  margin-top: 11px;
  padding: 0;
  display: flex;

  list-style: none;
}

.multiple-range {
  position: relative;

  margin-top: 20px;
  width: 318px;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.4);
}

.track {
  width: 272px;
  height: 2px;

  background-color: #ffffff;
}

.first-slider,
.second-slider {
  position: absolute;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  background-color: #ffffff;
}

.first-slider::before,
.first-slider::after,
.second-slider::before,
.second-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  margin-left: -2px;
  margin-top: -1px;
  width: 4px;
  height: 2px;

  background-color: #ababab;
}

.first-slider::after,
.second-slider::after {
  transform: rotate(90deg);
}

.first-slider {
  top: -10px;
}

.second-slider {
  top: -10px;
  right: 46px;
}


.first-slider:hover,
.second-slider:hover {
  top: -11px;

  width: 22px;
  height: 22px;

  cursor: pointer;
}

.group-range button[type="submit"] {
  box-sizing: border-box;
  display: block;
  width: 137px;
  min-height: 36px;
  padding: 5.5px 32px;
  margin-top: 32px;
  margin-left: 84px;

  font-size: 14px;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;

  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

.group-range button[type="submit"]:hover {
  color: #000000;

  background-color: #ffffff;
}

.minmax-input-list-item {
  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 159px;
  height: 36px;

  border: 2px solid white;
}

.minmax-input-list-item:first-child {
  border-right: none;
}

.minmax-input-list-item:last-child {
  border-left: none;
}

.minmax-input-list-item input {
  box-sizing: border-box;
  height: 22px;
  width: 153px;
  padding-left: 85px;

  font: inherit;
  color: inherit;
  line-height: 21px;
  text-transform: inherit;
  text-align: left;

  border: none;
  background-color: transparent;
}

.minmax-input-list-item:first-child::before {
  position: absolute;
  content: "От";

  left: 41%;
}

.minmax-input-list-item:last-child::before {
  position: absolute;
  content: "До";

  left: 34%;
}

.checkbox-list-item {
  position: relative;

  padding-left: 40px;
}

.minmax-input-list-item + .minmax-input-list-item input {
  padding-left: 75px;

  border-left: 2px solid white;
  background-color: transparent;
}

.checkbox-name .checkbox-indicator {
  position: absolute;
  left: 0;
  top: -1px;

  width: 27px;
  height: 23px;

  font-size: 0;

  border-radius: 4px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  cursor: pointer;

}

.checkbox-input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox-input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.4;
}

.checkbox-input[type="checkbox"][checked][disabled] + .checkbox-indicator {
  opacity: 0.4;
}

.checkbox-input[type="checkbox"]:focus + .checkbox-indicator {
  outline-color: rgb(77, 144, 254); // #4D90FE
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.group-checkbox .checkbox-list-item:not(:first-child) {
  margin-top: 25px;
}

.picking {
  padding: 30px 72px;
  display: flex;
  align-items: center;

  background-color: #fefefe;
}

.search-results {
  margin: 0;
  margin-right: 49px;

  font-size: 21px;
  line-height: 26px;
}

.sorting {
  margin: 0;
  margin-right: 40px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  max-width: 555px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
  text-align: left;
}

.sorting-list-item .sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  text-transform: uppercase;

  border-bottom: 1px dotted #81b3d2;
  background: transparent;

  cursor: pointer;
}

.current-sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: #95bed8;
  text-transform: uppercase;
}

.sorting-list .sorting-list-item:not(:last-child) {
  margin-right: 33px;
}

.sorting-list-item .sorting-link:hover {
  color: #81b3d2;
}

.sorting-list-item .sorting-link:active {
  color: #000000;

  border: none;
}

.updown-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;

  text-align: left;

  list-style: none;
}

.updown-list .updown-list-item:not(:last-child) {
  margin-right: 12px
}

.updown-list-item .updown-link {
  color: #cacaca;

  fill: currentcolor;
}

.current-updown-link {
  color: #81b3d2;

  fill: currentcolor;
}

.updown-list-item .updown-link:hover {
  color: #231f20;

  fill: currentcolor;
}

.updown-list-item .updown-link:active {
  color: #81b3d2;

  fill: currentcolor;
}

.hotels-list {
  margin: 0;
  padding: 0;

  text-align: left;
  list-style: none;

  background-color: #FEFEFE;
}

.hotels-preview {
  position: relative;

  padding: 24px 0;
  padding-right: 72px;
  padding-left: 237px;
  box-sizing: border-box;
  min-height: 151px;

  border-top: 1px solid #e5e5e5;
}

.hotels-preview:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-preview .hotels-img {
  position: absolute;
  top: 30px;
  left: 72px;
}

.wrapper-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

 .stars-amount svg {
  vertical-align: bottom;
}

.stars-amount svg:not(:last-child) {
  margin-right: 6px;
}

.wrapper-container-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

.wrapper-container-2 .hotels-information:first-child {
  width: 110px;
  margin-right: 6px;
}

.wrapper-container-3 {
  display: flex;
  flex-direction: row;
}

.hotels-preview .hotels-heading {
  margin: 0;
  padding: 0;
  width: 500px;

  font-size: 21px;
  line-height: 26px;
  text-align: left;
}

.hotels-heading .hotel-link {
  color: inherit;
}

.hotels-heading .hotel-link:hover {
  color: #81b3d2;
}

.hotels-heading .hotel-link:active {
  color: #b2b2b2;
}

.hotels-preview .hotels-information {
  margin: 0;
  padding: 0;
  width: 142px;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotels-preview .rating {
  margin: 0;
  padding: 3px 15px;
  margin-left: auto;
  order: 1;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  color: #666666;

  background-color: #F2F2F2;
}

.stars-amount {
  width: 150px;

  text-align: right;
  font-size: 0;
}

.hotels-preview .additions-button {
  box-sizing: border-box;
  width: 110px;
  padding: 3px 18px;
  margin-right: 6px;

  line-height: 21px;
  color: #FFFFFF;

  background-color: #81B3D2;
}

.hotels-preview .additions-button:hover {
  background-color: #669EC0;
}

.hotels-preview .additions-button:active {
  color: #88B6D1;

  background-color: #5496BD;
}

.hotels-preview .reserve-button {
  box-sizing: border-box;
  padding: 3px 17px;
  margin-right: 150px;
  width: 142px;
  line-height: 21px;
  color: #FFFFFF;

  background-color: #766357;
}

.hotels-preview .reserve-button:hover {
  background-color: #604E43;
}

.hotels-preview .reserve-button:active {
  color: #81746D;

  background-color: #503E33;
}

.main-footer {
  position: relative;

  text-align: left;

  background-color: #fefefe;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1056px;
  padding: 32px 72px;
}

.main-footer-container {
  position: absolute;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.socials-list-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-footer .socials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 150px;

  list-style: none;
}

.socials-list .socials-item {
  height: 48px;
  width: 46px;
  margin-right: 6px;
}

.socials-list .socials-item:nth-child(n+4) {
  margin-top: 6px;
}

.socials-list .socials-item:nth-child(3n+3) {
  margin-right: 0;
}

.contacts {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
}

.hashtag {
  margin-bottom: 5px;
}

.footer-contacts {
  box-sizing: border-box;
  width: 328px;
  padding-left: 60px;
}

.footer-contacts a {
  color: inherit;
}

.footer-contacts a:hover {
  color: #89b8d5;
}

.footer-contacts a:active {
  color: #b2b2b2;
}

.main-footer .made-by {
  box-sizing: border-box;
  margin: 0;
  padding-right: 29px;
  width: 328px;

  text-align: right;
  line-height: 26px;
  font-weight: normal;
}

.socials-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 0;
  color: #ffffff;

  fill: currentcolor;
  background-color: #81b3d2;
}

.socials-item .link:hover {
  background-color: #669ec0;
}

.socials-item .link:active {
  color: #88b6d1;

  background-color: #5496bd;
  fill: currentcolor;
}

.made-by .logo-htmlacademy {
  margin-left: 6px;

  vertical-align: middle;
}

.made-by a:hover {
  color: #81b3d2;

  fill: currentcolor;
}

.made-by a:active {
  color: #bdbbbc;

  fill: currentcolor;
}
